{% extends "layout.html" %}
{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}
<h1>Welcome to OSIS SMA 1 BEKASI</h1>

<main>
    <section>
        <h2 id="post1">Visi</h2>
        <p>Menjadikan OSIS sebagai ruang yang mendampingi🫂 dan memfasilitasi siswa dalam mengenali jati diri, menggali potensi, serta menyebarkan energi positif🌞 melalui kreativitas dan kolaborasi.</p>
    </section>

    <section>
        <h2 id="post2">Misi</h2>
        <ol>
            <li>Menyelenggarakan program yang mendukung eksplorasi bakat, minat, dan pengembangan diri siswa</li>
            <li>Membangun lingkungan OSIS yang terbuka, suportif, dan berdaya guna sebagai wadah ekspresi serta aspirasi siswa</li>
            <li>Mendorong kolaborasi antarsiswa melalui kegiatan yang kreatif, inovatif, dan berdampak positif</li>
        </ol>
    </section>

    <section>
        <h2 id="post3">Bidang</h2>
        <ul>
                <li><a href="/sekbid/1">Sekbid 1</a></li>
                <li><a href="/sekbid/2">Sekbid 2</a></li>
                <li><a href="/sekbid/3">Sekbid 3</a></li>
                <li><a href="/sekbid/4">Sekbid 4</a></li>
                <li><a href="/sekbid/5">Sekbid 5</a></li>
                <li><a href="/sekbid/6">Sekbid 6</a></li>
                <li><a href="/sekbid/7">Sekbid 7</a></li>
                <li><a href="/sekbid/8">Sekbid 8</a></li>
                <li><a href="/sekbid/9">Sekbid 9</a></li>
                <li><a href="/sekbid/10">Sekbid 10</a></li>
        </ul>
        </section>

</main>
<footer>
    <h2>Find Us</h2>
    <h3>Instagram</h3>
    <p> Check us out at <a href="https://www.instagram.com/osmansasi_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">@osmansasi_</a></p>
</footer>
{% endblock content %}
