<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, intitial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        {% block title %}
        {% endblock title %}
    </head>
    <body>
        <nav>
            <ul class="sidebar">
                <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/pengurus">Pengurus</a></li>
                <li><a href="/kegiatan">Kegiatan</a></li>
            </ul>
            <ul>
                <li><a href="#logo">OSIS SMA 1 BEKASI</a></li>
                <li class="hideOnMobile"><a href="/">Home</a></li>
                <li class="hideOnMobile"><a href="/pengurus">Pengurus</a></li>
                <li class="hideOnMobile"><a href="/kegiatan">Kegiatan</a></li>
                <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns=<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </nav>

        <script>
            function showSidebar(){
                const sidebar = document.querySelector('.sidebar')
                sidebar.style.display = 'flex'
            }
            function hideSidebar(){
                const sidebar = document.querySelector('.sidebar')
                sidebar.style.display = 'none'
            }
        </script>

        {% block content %}
        {% endblock content %}
    </body>
</html>
